*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


.title, .second{
  font-size: 42px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}
.second{
	font-size: 20px;
	margin-top:20px;
	margin-bottom: 20px;
	font-weight: normal;
}
.quote{
  font-size: 16px;
  margin-top:10px;
 	text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
	padding: 10px;
 
}

.contact-form{
	display: grid;
	grid-template-areas: 
		"name name  email email"
		"message message message message"
		"message message message message"
		". submit submit ."
		;
	grid-gap: 20px;
	width:70%;
	margin: 50px auto;
	
}
.submit{
	grid-area: submit;
	background-color: lightblue;
	font-size: 2rem;
	font-family: 'Capriola', sans-serif;
	border: none;
	border-radius: 60px;
	color: white;
	margin-top: 20px;
	cursor: pointer;
}


.name{
	grid-area: name;
}
.email{
	grid-area: email;
}
.message{
	grid-area: message;
}
input{
	width: 100%;
	height: 60px;
	border-radius: 4px;
	border: 2px solid white;
	padding-left: 10px;
	margin-top: 2px;
	margin-bottom: 10px;
	border: 2px solid black;
	font-family: 'Poppins', sans-serif;
	
}
select{
	height: 60px;
	border-radius: 4px;
}
textarea{
 resize: none;
 width: 100%;
 height: 200px;
 border-radius: 4px;
	padding: 10px;
	border: 2px solid black;
	font-family: 'Poppins', sans-serif;
}