*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
 
}
header{
    background-image: url(../images/reduced-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:100%;
    height: 500px;
    
}




.nav-bar{
	display: flex;
	position: fixed;
	width:100%;
	justify-content:space-around;
	align-items: center;
	opacity: 100%;
	z-index: 10;
	transition: top 0.5s;
   
}
.nav-bar-color{
	background-color: darkgray;

}
.small-logo{
    margin-top:10px;
}

nav{
    width:100%;
    height: 100%;
	
}

nav li{
  position: relative;
  text-align: center;
  width: 100%;
  
}


.navigation-links{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content:center;
}
.navigation-links > li{
    padding: 20px;
    transition:0.5s;
    margin: 0px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight:bolder;
    font-size: 17px;
    cursor: pointer;
  
	
	
	
    
}


.navigation-links > li:hover{
    background-color:cadetblue;
 
    
}
.navigation-links li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight:bolder;
    font-size: 17px;
    
}
.inside-list{
  background-color: cadetblue;
  list-style: none;
  position: absolute;
  top:65px;
  left:0;
  width: 100%;
  
  
	
	
}
/*
top 66
top 88px when 2 block when writing
*/
.inside-list li{
	width: 100%;
    height: 100px;
	text-align: center;
	display: none;
	
	
}
.navigation-links li:hover .inside-list li{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	top: 0px;
}
.inside-list li a {
  padding: 20px;
  width: 100%;
  
  
}
.inside-list li a:hover{
	background-color: aqua;
}
