*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}


.grid-contain h3{
	color: white;
	font-size: 52px;
	font-family: 'Capriola', sans-serif;
	letter-spacing: 3px;

}
.grid-contain{
  max-width: 1500px;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	margin: auto;
	
}

p{
  color: black;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
		font-weight: bold;
		margin-left: 20px;
		margin-right: 20px;
		font-weight: 800;
	transition: 0.5s;

}


.card1, .card2, .card3, .card4, .card5, .card6{
	position: relative;
	transform-style: preserve-3d;
	transition: 0.9s;
	perspective: 600px;
	width:600px;
	height: 500px;
	float: left;
	margin-top: 50px;
	width:450px;
	height: 350px;
}

.card1 .front, .card2 .front, .card3 .front, .card4 .front, .card5 .front, .card6 .front{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.9s;
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}



.card1:hover .front, .card2:hover .front, .card3:hover .front, .card4:hover .front, .card5:hover .front, .card6:hover .front{
	transform: rotateX(-180deg);
}

.card1 .back, .card2 .back, .card3 .back, .card4 .back, .card5 .back, .card6 .back{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.9s;
}
.card1:hover .back, .card2:hover .back, .card3:hover .back, .card4:hover .back, .card5:hover .back, .card6:hover .back{
	transform: rotateX(0deg);
}
.card1 .back iframe{
	text-align: center;
}

.card2 .back, .card3 .back, .card4 .back, .card5 .back, .card6 .back{
	background-image: url(../images/main_image1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.card2 .front{
	background-image: url(../images/hands.jpg);
}

.card3 .front{
	background-image: url(../images/sparkler2.jpg);
}
.card4 .front{
	background-image: url(../images/global-com.png);
}

.card5 .front{
	background-image: url(../images/globe.jpg);
}

.card6 .front{
	background-image: url(../images/people-drinks.jpg);
}



