*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html{
  scroll-behavior: smooth;
}
.maintitle{
  font-size: 46px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 20px;
}

.line{
  border-bottom: 1px solid;
  border-color: #D3D3D3;
  width: 70%;
  margin: 0px auto;
  margin-top: 40px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: normal;
  transition:0.3s;
  
}
a:hover{
  color: lightblue;
}

.starting{
	display: grid;
	grid-template-columns: 1fr 4fr;
	justify-self: center;
	grid-gap: 50px;
	margin: 50px 50px 50px 20px;
	position: relative;
	
}
.side-nav{
	text-decoration: none;
	margin-top: 30px;
	position: relative;
}
.side-nav li{
  font-family: 'Capriola', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}


.side-nav .outerlist{
	list-style: none;
	position: sticky;
	top:140px;
	z-index: 2;
	width:100%;
    margin-left: 10%;
    line-height: 30px;
    list-style: circle;
}
.side-nav .outerlist .innerlist{
  list-style: none;
  margin-left: 30px;
  list-style: decimal;
}

.information{
	border-left: 1px solid;
    border-color: #D3D3D3;
	padding-left: 40px;
}

.information section{
  margin: 20px 0px;
}
.information h2{
  margin: 10px 0px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 34px;
  padding-top: 100px;
  margin-top: -100px;
  text-transform: uppercase;
  
}
.information h3{
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 1%;
  padding-top: 100px;
  margin-top: -100px;
  text-transform: uppercase;
  font-size: 28px;
}
.information h4{
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 10px;
  padding-top: 100px;
  margin-top: -100px;
  text-transform: uppercase;
  font-size: 22px;
}
.information p{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  margin-left: 4%;
  margin-bottom: 10px;
}
.information .ourresp{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  margin-left: 5%;
  list-style: decimal;
}








