*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.boxes-container section img{
  width:500px;
  height: 500px;
		
}

.box1{
		
		
		
}

.box2{
		
		
}

.box3{
		
		
}
.box4{
		
		
}
