*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}


.theform{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	
	
}

iframe{
	margin: auto;
	width: 50%;
	height: 720px;
	background-color: cadetblue;
	
	
}



.title{
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
}

.quote{
  font-size: 20px;
  margin-top:10px;
 	text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  width:90%;
  margin: auto;
 
}


@media screen and (max-width:633px){

 iframe{
	margin: auto;
	width: 80%;
	height: 720px;
	background-color: cadetblue;
	
	
	}
}






